<a href="https://colab.research.google.com/github/satyhim/Assignments/blob/main/Cutoff_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
import pandas as pd
data=pd.read_csv("/content/drive/MyDrive/Python/Assignement_cutoff2.csv")

In [15]:
data.head()

   customer ID          brand      Date  Brand Count  Unnamed: 4
0            1         adidas  1/1/2021            3         NaN
1            1           polo  1/2/2021            1         NaN
2            2          lewis  2/1/2021            2         NaN
3            2  tomyhilfigure  2/1/2021            1         NaN
4            2           nike  3/1/2021            4         NaN

In [16]:
data.drop(["Unnamed: 4"], axis = 1, inplace = True)

In [18]:
print(data)

   customer ID          brand      Date  Brand Count
0            1         adidas  1/1/2021            3
1            1           polo  1/2/2021            1
2            2          lewis  2/1/2021            2
3            2  tomyhilfigure  2/1/2021            1
4            2           nike  3/1/2021            4
5            2           puma  3/1/2021            4

In [21]:
df=pd.DataFrame(data)
df

   customer ID          brand      Date  Brand Count
0            1         adidas  1/1/2021            3
1            1           polo  1/2/2021            1
2            2          lewis  2/1/2021            2
3            2  tomyhilfigure  2/1/2021            1
4            2           nike  3/1/2021            4
5            2           puma  3/1/2021            4

In [32]:
df.groupby('Brand Count')
print(df.groupby('Brand Count').groups)

{1: [1, 3], 2: [2], 3: [0], 4: [4, 5]}

In [34]:
df.groupby("Brand Count").count()
df

   customer ID          brand      Date  Brand Count
0            1         adidas  1/1/2021            3
1            1           polo  1/2/2021            1
2            2          lewis  2/1/2021            2
3            2  tomyhilfigure  2/1/2021            1
4            2           nike  3/1/2021            4
5            2           puma  3/1/2021            4

In [36]:
df.groupby('Date')
print(df.groupby('Date').groups)

{'1/1/2021': [0], '1/2/2021': [1], '2/1/2021': [2, 3], '3/1/2021': [4, 5]}