<a href="https://colab.research.google.com/github/satyhim/Assignments/blob/main/Cutoff_assignment_Final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import datetime
from datetime import date 
data=pd.read_csv("/content/drive/MyDrive/Python/Assignement_cutoff3.csv")

In [2]:
data

   customer ID          brand      Date  Brand Count
0            1         adidas  1/1/2021            3
1            1           polo  1/1/2021            1
2            2          lewis  2/1/2021            2
3            2  tomyhilfigure  2/1/2021            1
4            2           nike  3/1/2021            4
5            2           puma  3/1/2021            4

In [5]:
df1=data.groupby(['customer ID', 'Date']).agg(max=('Brand Count', 'max'),total=('Brand Count', 'sum')).reset_index()
df1

   customer ID      Date  max  total
0            1  1/1/2021    3      4
1            2  2/1/2021    2      3
2            2  3/1/2021    4      8

In [8]:
df1['Percentage cutoff']= (df1['max']/df1['total'])*100
df1

   customer ID      Date  max  total  Percentage cutoff
0            1  1/1/2021    3      4          75.000000
1            2  2/1/2021    2      3          66.666667
2            2  3/1/2021    4      8          50.000000

In [9]:
data

   customer ID          brand      Date  Brand Count
0            1         adidas  1/1/2021            3
1            1           polo  1/1/2021            1
2            2          lewis  2/1/2021            2
3            2  tomyhilfigure  2/1/2021            1
4            2           nike  3/1/2021            4
5            2           puma  3/1/2021            4

In [14]:
df2=data.groupby(['customer ID','Date']).agg(min=('Brand Count', 'min'),total=('Brand Count', 'sum')).reset_index()
df2

   customer ID      Date  min  total
0            1  1/1/2021    1      4
1            2  2/1/2021    1      3
2            2  3/1/2021    4      8

In [15]:
df2['Percentage cutoff']= (df2['min']/df2['total'])*100
df2

   customer ID      Date  min  total  Percentage cutoff
0            1  1/1/2021    1      4          25.000000
1            2  2/1/2021    1      3          33.333333
2            2  3/1/2021    4      8          50.000000

In [20]:
Final = pd.concat([df1 , df2], axis=1, sort=False)
Final
print(df1, "\n\n\n", df2)

   customer ID      Date  max  total  Percentage cutoff
0            1  1/1/2021    3      4          75.000000
1            2  2/1/2021    2      3          66.666667
2            2  3/1/2021    4      8          50.000000


    customer ID      Date  min  total  Percentage cutoff
0            1  1/1/2021    1      4          25.000000
1            2  2/1/2021    1      3          33.333333
2            2  3/1/2021    4      8          50.000000

In [21]:
df1.append(df2)

   customer ID      Date  max  total  Percentage cutoff  min
0            1  1/1/2021  3.0      4          75.000000  NaN
1            2  2/1/2021  2.0      3          66.666667  NaN
2            2  3/1/2021  4.0      8          50.000000  NaN
0            1  1/1/2021  NaN      4          25.000000  1.0
1            2  2/1/2021  NaN      3          33.333333  1.0
2            2  3/1/2021  NaN      8          50.000000  4.0